body { margin: 0; }

img { border: 0; }

$yellow: #ffe200;
$green: #98a46b;

.white {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 1024px;
	min-height: 675px;
}

.yllw {
	position: absolute;
	width: 549px;
	height: 42px;
	top: 70px;
	right: 0;
	border-bottom: 3px solid $yellow;
}

.content {
	position: absolute;
	width: 1024px;
	height: 675px;
	top: 0;
	left: 50%;
	margin: 0 0 0 -512px;
}

	.logo {
		position: absolute;
		width: 160px;
		height: 174px;
		top: 30px;
		left: 30px;
		background: url(../img/logo.png) no-repeat;
	}

	.menu {
		position: absolute;
		width: 564px;
		height: 42px;
		top: 70px;
		left: 241px;
		border-bottom: 3px solid $yellow;
	}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		a {
			text-decoration: none;
			color: #000;
		}

			li {
				display: inline-block;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 12px;
				font-weight: bold;
				cursor: pointer;
				padding: 14px 13.5px;
				@include transition(all 0.3s);
			}

				.actual {
					background: $yellow;
				}

				li:hover, .active {
					background: $yellow;
				}

		.fb,.tw {
			position: absolute;
			top: 5px;
			cursor: pointer;
			color: $yellow;
			font-size: 30px;
		}

		.fb { right: 50px; }
		.tw { right: 150px; }

	.botellas {
		position: absolute;
		width: 160px;
		height: 385px;
		background: url(../img/mezcal_img.jpg) no-repeat;
		background-size: 100%;
		top: 230px;
		left: 30px;
	}

	.evite {
		position: absolute;
		width: 160px;
		height: 28px;
		top: 620px;
		left: 30px;
		text-align: center;
		font-family: Helvetica, Arial, sans-serif;
		line-height: 60%;
	}

		.evitar {
			font-weight: bold;
			font-size: 12px;
		}

		.nocivo {
			font-weight: bold;
			font-size: 8px;
		}

	.index_cont {
		position: absolute;
		width: 750px;
		top: 181px;
		left: 240px;
	}

		.slogan, .gallery {
			float: left;
			position: relative;
		}

		.gallery {
			width: 250px;
			height: 250px;
			margin-left: 50px;
			@include user-select(none);
		}

		.gal_wrap {
			width: 230px;
			overflow: hidden;
		}

			.int_wrap {
				width: 2284px;
			}

			.gallery img {
				display: inline-block;
				margin: 0 10px 0 0;
				cursor: pointer;
			}

				.left,.right {
					position: absolute;
					width: 12px;
					height: 19px;
					right: 0;
					cursor: pointer;
				}

				.left { background: url(../img/left.png) no-repeat; top: 50+47px; }
				.right { background: url(../img/right.png) no-repeat; top: 50+68px; }


		.slogan {
			width: 450px;
			height: 105px;
			margin-top: 50px;
			background: url(../img/slogan.png);
			background-size: 100%;
		}

		/* .cita {
			position: absolute;
			width: 634px;
			height: 63px;
			top: 216px;
			left: 109px;
			text-align: justify;
		} */


			/* .frase {
				font-family: Helvetica, Arial, sans-serif;
				color: #000;
				font-size: 15px;
				font-weight: normal;
				line-height: 150%;
				span {
					font-weight: bolder;
					font-size: 18px;
				}
			} */

	.noti {
		position: absolute;
		width: 250px;
		height: 400px;
		left: 741px;
		top: 181px;
		background: $green;
		font-family: Helvetica, Arial, sans-serif;
	}

		.noti_header {
			position: absolute;
			width: 100%;
			height: 36px;
			background: $yellow;
			text-align: center;
		}

		.header_text {
			display: inline-block;
			font-weight: 100;
			color: #fff;
			font-size: 25px;
			margin: 12px 0 0 0;

		}

		.noti_title {
			position: absolute;
			width: 100%;
			top: 60px;
			text-align: center;
			font-weight: 200;
			font-size: 20px;
			color: #fff;
			border-bottom: 2px solid $yellow;
		}

		.noti_text {
			position: absolute;
			width: 175px;
			height: 167px;
			font-weight: lighter;
			font-size: 10px;
			color: #fff;
			overflow: hidden;
			text-align: justify;
			top: 200px;
			left: 50%;
			margin: 0 0 0 -87.5px;
		}

		.more {
			position: absolute;
			width: 26px;
			height: 26px;
			bottom: 5px;
			right: 5px;
			background: url(../img/plus.png) no-repeat;
			cursor: pointer;
		}

		.noti_imagen {
			position: absolute;
			width: 140px;
			height: 75px;
			top: 105px;
			left: 50%;
			margin: 0 0 0 -70px;
		}

/*----------------------------------------------------------------------------------Quienes Somos*/

.text_area {
	position: absolute;
	width: 750px;
	height: 400px;
	left: 241px;
	top: 181px;
	background: $green;
}

	.text_area_back {
		position: absolute;
		width: 200px;
		height: 400px;
		right: 0;
		top: 181px;
		background: $green;
	}

	.area_int {
		padding: 45px;
	}

		.area_title {
			font-family: Helvetica, Arial, sans-serif;
			color: #ffe100;
			font-size: 18px;
			font-weight: 200;
		}

		.area_text {
			font-family: Helvetica, Arial, sans-serif;
			color: #fff;
			font-weight: 100;
			font-size: 12px;
		}